
:root{
  --clr: #ffffff;
}
.app{
  margin: 0;
  padding: 0;
  text-align: center;
  background: var(--clr);
}

.logo{
  display: flex;
  justify-content:center;
  align-items: center;
}

h1{
  text-align: center;
}
.navigation{
  margin-top: 10%;
  margin-left: 2%;
  width: 400px;
  height: 70px;
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul{
  display: flex;
  width: 350px;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li .NavLink{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li .NavLink .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
  border-radius: 75%;
}

.navigation ul li:hover .NavLink .icon{
  transform: translateY(-10px);
  background-color: rgb(145, 145, 145);
  border-radius: 75%;
}

.navigation ul li .NavLink .text{
  position: absolute;
  color: var(--clr);
  color: black;
  font-weight: 400;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li:hover .NavLink .text{
  opacity: 1;
  transform: translateY(5px);
}

.navigation ul li:nth-child(1):hover ~ .NavLink{
  transform: translateX(70px * 0);
}
.navigation ul li:nth-child(2):hover ~ .NavLink{
  transform: translateX(70px * 1);
}

.text{
  text-align: center;
  font-size:80px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container-Countries{
  display:inline-flex;
  margin: 1%;

}

.link{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.container2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 10px solid rgba(224, 224, 224, 0.952);
  border-radius: 25%;
  background-color: rgb(255, 255, 255);
  margin: 1%;
  
}
.container-player{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.link{
  display: flex;
  font-size: 40px;
}

.btn-players{
  background-color: white;
  border: none;
}

.table{
  display: inline-flex;
  flex-direction: column;
}

.container-perfil{
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 7%;
  margin-left: 5%;
  border-radius: 40%;
  background-color: rgba(252, 34, 34, 0.623);
}

.btn-agenda{
  display:flex;
  justify-content: space-around;
  margin-right: 10%;
  padding: 10px 30px 10px 30px;
  font-size: 30px;
  background: none;
  border: none;
}

.user-card{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.profile-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color:rgba(105, 43, 33, 0.295);
  margin: 1%;
  border-radius: 10px;
  padding: 5px;
}

.container-search {
  display: flex;
  justify-content: center;
}