.form-edit{
    display:flex;
    justify-content: center;
  }
.container-edit{
  max-width: 300px;
}


.btn-player-edit{
    display: flex;
  justify-content: center;
  padding: 1%;
}


.btn-player-edit button{
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: tomato;
  font-size: 30px;
}

.btn-player-edit button:hover{
  background-color: #c26565;
  color: antiquewhite;
  transition: 1s;
}